*{
  box-sizing: border-box;

}
body{
  background-color: wheat;
  margin: 0;
  padding: 10px;
}
.imageContainer form{
  width: 400px;
  height: 300px;
  border: 2px solid royalblue;
  margin: auto;
  border-radius: 5px;
  padding: 5px;
 box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
 
}
.uploadBox{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 60px;
  
}
input[type='file']{
  display: none;
}
.btn{
  display: flex;
  justify-content: center;
}
form button{
  width: 100px;
  margin: auto;
  height: 30px;
  border: none;
  background-color: yellowgreen;
  border-radius: 5px;
}
 .uploadBox img{
  height: 100%;
  width: 100%;
 }
 .allimage{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
 }
 .allimage img{
     border-radius: 5px;
     box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
 }